header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;

}

.link {
  margin: 20px;
}

 .mytimes {
   padding: 10px;
 }
